/* Header Styles */
.header {
  color: #F6F1EE;
  font-size: 20px;
  position: fixed;
  width: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10;
  padding: 10px 0;
}

.top-logo {
  position: fixed;
  top: 40px;
  left: 15px; /* Adjusted left position */
  max-width: 100px; /* Set the maximum width for the logo */
}


/* Navigation Styles */
nav {
  display: flex;
  justify-content: center; /* Distribute items evenly */
  align-items: center;
  padding: 10px 0;
}

nav a {
  color: #F6F1EE;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
  margin: 0 80px;
}

nav a:hover {
  background-color: #0c0501;
  color: #FA9ED9;
  transform: translateY(-2px); /* Slight upward movement on hover */
}
body{
  margin-top: 10%;
  background-image: url(aboutpage.gif); 
  background-size: cover;
  background-repeat: no-repeat;  
  align-content: center;
  position: relative;
  background-color: black;

}
.developer-section {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* Add a 20px gap between the tables */
  margin-top: 150px;
}

.developer-section h1{
  font-family: sans-serif;
}
.developer-profile,
.work-distrib {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  padding: 20px;
  flex-basis: 48%; /* Adjust the width as needed */
}

.developer-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  font-size: 14px; /* Adjust the font size as needed */
}

.developer-table th,
.developer-table td {
  font-family: sans-serif;
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #FA9ED9;
  color: black;
}

.developer-table th {
  background-color: #FA9ED9;
  color: #FFFFFF;
}

.developer-table tbody tr:nth-child(even) {
  background-color: #FDFDFD;
}

.developer-table tbody tr:hover {
  background-color: #f3cbe4;
}

.developer-table td.column1 {
  font-weight: bold;
}

.developer-table td.column1::after {
  content: ":";
}

.developer-table td.column1,
.developer-table th {
  width: 25%;
}

.developer-table td {
  word-break: break-word;
}

/* CSS for small devices (576px and below) */
@media only screen and (max-width: 576px) {

}

/* CSS for medium devices (between 577px and 768px) */
@media only screen and (min-width: 577px) and (max-width: 768px) {
  
}

/* CSS for large devices (between 769px and 992px) */
@media only screen and (min-width: 769px) and (max-width: 992px) {
}
